<p>Hay <strong><%= statistics.questions %></strong> preguntas</p
<p>Hay <strong><%= statistics.comments %></strong> comentarios</p>
<p>Hay <strong><%= statistics.media %></strong> comentarios por pregunta</p>
<p>Hay <strong><%= statistics.commented %></strong> preguntas con comentarios</p>
<p>Hay <strong><%= statistics.uncommented %></strong> preguntas sin comentarios</p